# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
#Notes/Archive documents
Archive
.env
# Ignore serverless manifest files
serverless.manifest.json
.serverless/manifest.json