{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "populateIndexFields" : true,
    "key": {
        "id" : $util.dynamodb.toDynamoDBJson($util.autoId()),
        "estimateId" : $util.dynamodb.toDynamoDBJson($context.arguments.data.estimateId),
    },
    "attributeValues" : {
        "dateCreated" : $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
        "dateUpdated" : $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
    }
}