{
  "version" : "2018-05-29",
  "operation" : "UpdateItem",
  "key": {
    "userId" : $util.dynamodb.toDynamoDBJson($context.arguments.where.userId)
  },
  "update" : {
    "expression" : "set lastName = :lastName, firstName = :firstName, middleInitial = :middleInitial, phone = :phone, email = :email, hireDate = :hireDate, isActive = :isActive, 
    imageUrl = :imageUrl, backgroundImageUrl = :backgroundImageUrl, birthdate = :birthdate, dateUpdated = :dateUpdated,",
    "expressionValues" : {
      ":lastName" : $util.dynamodb.toDynamoDBJson($context.arguments.data.lastName),
      ":firstName" : $util.dynamodb.toDynamoDBJson($context.arguments.data.firstName),
      ":middleInitial" : $util.dynamodb.toDynamoDBJson($context.arguments.data.middleInitial),
      ":phone" : $util.dynamodb.toDynamoDBJson($context.arguments.data.phone),
      ":email" : $util.dynamodb.toDynamoDBJson($context.arguments.data.email),
      ":hireDate" : $util.dynamodb.toDynamoDBJson($context.arguments.data.hireDate),
      ":isActive" : $util.dynamodb.toDynamoDBJson($context.arguments.data.isActive),
      ":imageUrl" : $util.dynamodb.toDynamoDBJson($context.arguments.data.imageUrl),
      ":backgroundImageUrl" : $util.dynamodb.toDynamoDBJson($context.arguments.data.backgroundImageUrl),
      ":birthdate" : $util.dynamodb.toDynamoDBJson($context.arguments.data.birthdate),
      ":dateUpdated" : $util.dynamodb.toDynamoDBJson($context.arguments.data.dateUpdated)
    }
  },  
}