{
  "version" : "2018-05-29",
  "operation" : "GetItem",
  "key" : {
    "orderId" : $util.dynamodb.toDynamoDBJson($context.arguments.orderId),
    "itemId" : $util.dynamodb.toDynamoDBJson($context.arguments.itemId),
  }
}