{
  "version" : "2018-05-29",
  "operation" : "GetItem",
  "key" : {
    "estimateId" : $util.dynamodb.toDynamoDBJson($context.arguments.estimateId),
    "itemId" : $util.dynamodb.toDynamoDBJson($context.arguments.itemId)
  }
}