#if ($context.arguments.limit > 25)
    $util.error("Max Request Limit is 25")
#end

{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression" : "list all customers",
    },
    "index" : "byCustomerType",
    "nextToken" : $util.toJson($context.arguments.nextToken),
    "limit" : $util.toJson($context.arguments.limit),
    "scanIndexForward" : false,
    "consistentRead" : false,
    "select" : "ALL_ATTRIBUTES"
}