{
    "version" : "2018-05-29",
    "operation" : "Scan",
    "index" : "userId",
    "scanIndexForward" : false,
    "consistentRead" : false,
    "select" : "ALL_ATTRIBUTES","limit" : $util.toJson($context.arguments.limit),
    "nextToken" : $util.toJson($context.arguments.nextToken),
}