{
  "version" : "2018-05-29",
  "operation" : "GetItem",
  "key" : {
    "contractId" : $util.dynamodb.toDynamoDBJson($context.arguments.contractId),
    "itemId" : $util.dynamodb.toDynamoDBJson($context.arguments.itemId)
  }
}